
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next {
    transform: rotateZ(-90deg);
     position: absolute;
    width: 18px;
    height: 30px;
    background-size: contain;
    top: 95%;
    left:50%;
    animation: jt 2s infinite;
}
@keyframes jt {
    0%{
        top:95%;
        opacity: 1;
    }
    100%{
        top:90%;
        opacity: 0;
    }

}
#mp3Btn{
    z-index: 100;
    position: absolute;
    top: 4%;
    right: 4%;
    width: 30px;
    height: 30px;
    background:rgba(0, 0, 0, 0.49);
    border-radius: 360px;
    text-align: center;
    line-height: 28px;
    border:3px solid #ccc;
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

#mp3Btn img{
    width: 10px;
}
/*第一屏样式*/
.s1,
.s2,
.s3,
.s5,
.s6,
.s7,
.s4{
    background: url("../img/bj.png");
    position:relative;
    height: 100%;
}
.s1 .header img:nth-of-type(1){
    width: 30px;
    position: absolute;
    top: 17%;
    left: 12%;
    animation:swing infinite;
    z-index: 1000;
}
.s1 .header img:nth-of-type(2){
    width: 60px;
    position: absolute;
    top: 10%;
    left: 73%;
    animation:swing infinite;
    z-index: 1000;
}
.s1 .header img:nth-of-type(3){
    width: 50px;
    position: absolute;
    top: 68%;
    left: 9%;
    animation:swing infinite;
    z-index: 1000;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    position: absolute;
    top: 66%;
    left: 73%;
    animation:swing infinite;
   transform-origin:center;
    z-index: 1000;
}
.s1 .header img:nth-of-type(5){
    width: 68%;
    margin: 45% auto;
    animation:swing infinite;
}
.s1 .main{
    position: absolute;
    top:30%;
}
.s1 .class1{
    width: 480px;
    height: 480px;
    border: 1px #0e90b0 dashed;
    border-radius: 50%;
    position: absolute;
    top: -71%;
    left: -7%;

}
.s1 .class1,
.s1 .class2,
.s1 .class3,
.s1 .class4{
    animation: zhuan 3s infinite linear running;
}
@keyframes zhuan {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg);
    }
}
.s1 .class2{
    width: 420px;
    height: 420px;
    border: 1px #0e90b0 dashed;
    border-radius: 50%;
    position: absolute;
    top: -55%;
    left: -1%;
}
.s1 .class3{
    width: 380px;
    height: 380px;
    border: 2px #0e90b0 dashed;
    border-radius: 50%;
    position: absolute;
    top: -46%;
    left: 4%;
}
.s1 .class4{
    width: 350px;
    height: 350px;
    border: 1px #0e90b0 dashed;
    border-radius: 50%;
    position: absolute;
    top: -39%;
    left: 8%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;

}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom: 20px;

}
.s1 .main p{
    color:#fff;
}
.s1 .img9{
    background: url("../img/9.png");
    width: 206px;
    height: 24px;
    font-weight: bold;
    line-height: 25px;
    margin: auto;
    background-size: contain;

}
.s1 .img9 img{
    position:absolute;

 }
.s1 .footer{
    color:#14a1a1;
    position: absolute;
    width: 100%;
    bottom:10%;
}
.s1 .footer p:nth-of-type(3){
     position:absolute;
     height:60px;

 }

.s1 .footer p:nth-of-type(2){
    margin-bottom: 35px;

}
.s1 .footer p:nth-of-type(3) img{
    position:absolute;
    bottom: -13%;
    height: 60px;
}
.s1 .footer p img:nth-of-type(2){
    margin-left: -23px;
}
.p3 img:nth-of-type(1){
    animation: 3s dong infinite alternate linear;
}
@keyframes dong {
    0%{
left:-50px;
    }
    100%{
        left:20px;
    }
}
.p3 img:nth-of-type(2){
    animation: 3s do infinite alternate linear;
}
@keyframes do {
    0%{
        left:50px;
    }
    100%{
        left:-50px;
    }
}

/*第二屏样式*/
.s2{
    color: #00ffcc;
}
.s2 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}
.s2 h2::before,
.s2 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s2 h2::after {
     background: url(../img/13.png);
     background-size: contain;
     margin-left: 66px;
     margin-top: 10px;
     top: 0;
 }
.s2 div{
    position: absolute;
    top: 25%;
    width: 80%;
    height: 380px;
    left: 50%;
    margin-left: -40%;
}
 .s2 .class1{

 }
.s2 div img{
     width: 100%;
     position: absolute;
     left: 0;
 }
.s2 div p{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.s2 div p:nth-of-type(1){
     padding-top:20px;
 }
.s2 div span{
    background-color: #00e8f2;
    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom:-15px;
    left:50%;
    margin-left: -60px;
    background:-moz-linear-gradient(left,#00ecfc,#00fd9d);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#00ecfc),to(#00fd9d));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#00ecfc,#00fd9d);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#00ecfc,#00fd9d); /*Opera11*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00ecfc, #00fd9d); /*Opera11*/
}
.s2 .p3 img,
.s3 .p3 img,
.s4 .p3 img,
.s5 .p3 img,
.s6 .p3 img,
.s7 .p3 img{
    position: absolute;
    bottom: -2%;
    height: 60px;
}
/*第三屏样式*/
.s3 h2::before,
.s3 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s3 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s3 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s3{
    color: #00ffcc;
    position: relative;
    font-weight: bold;
}
.s3 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s3 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}
.s3 .class1,
.s3 .class2,
.s3 .class3,
.s3 .class4{
    animation: zhuan 3s infinite linear running;
}
@keyframes zhuan {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform:rotateZ(360deg);
    }
}
.s3 .class1{
    position: absolute;
    top: 25%;
    left: 0%;
}
.s3 .class2{
    position: absolute;
    top: 26%;
    left: 1%;
}
.s3 .class3{
    position: absolute;
    top: 27.5%;
    left: 2%;
}
.s3 .class4{
    position: absolute;
    top: 29.5%;
    left: 3%;
}
.s3 .class1 img{
    width: 88%;

}
.s3 .class2 img{
    width: 85%;
}
.s3 .class3 img{
    width: 80%;
}
.s3 .class4 img{
    width: 75%;
}
.s3 .main div:nth-of-type(1){
    width: 135px;
    height: 135px;
background: -webkit-radial-gradient(rgba(225,0,0,0),rgba(5,97,120,0.8));
    border-radius: 50%;
    text-align: center;
    line-height: 135px;
    position: absolute;
    top: 40%;
    left: 32%;
}
.s3 .main div:nth-of-type(2),
.s3 .main div:nth-of-type(3),
.s3 .main div:nth-of-type(4),
.s3 .main div:nth-of-type(5),
.s3 .main div:nth-of-type(6),
.s3 .main div:nth-of-type(7){
    width: 62px;
    height: 62px;
    background: -webkit-radial-gradient(rgba(225,0,0,0),rgba(5,97,120,0.8));
    border-radius: 50%;
    text-align: center;
    line-height: 62px;
}
.s3 .main div:nth-of-type(2){
    position: absolute;
    top: 25%;
    left: 18%;
    }
.s3 .main div:nth-of-type(3){
    position: absolute;
    top: 25%;
    right: 15%;
}
.s3 .main div:nth-of-type(4){
    position: absolute;
    top: 45%;
    right: 5%;
}
.s3 .main div:nth-of-type(5){
    position: absolute;
    top: 66%;
    right: 15%;
}
.s3 .main div:nth-of-type(6){
    position: absolute;
    top:66%;
    left: 18%;
}
.s3 .main div:nth-of-type(7){
    position: absolute;
    top: 45%;
    left: 5%;
}
.s3 .footer{
    position: absolute;
    bottom: 10%;
    left:10%;
}
.s3 .footer p:nth-of-type(1){
    background:#03f1d1 ;
    height: 40px;
    width: 5px;
    background-size: cover;
    position: absolute;
    top: 0;
    left: -5%;
}
.s4{
    color: #00ffcc;
    position: relative;
    font-weight: bold;
}
.s4 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s4 h2::before,
.s4 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s4 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s4 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s4 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}
.s4 div{
    position: absolute;
    top: 25%;
    width: 80%;
    height: 380px;
    left: 50%;
    margin-left: -40%;
}
.s4 div img{
    width: 100%;
    opacity:0.4 ;
}
.s4 div p{
    position: absolute;
    z-index:1000 ;
}
.s4 div .p1{
    top: 20%;
    width: 100%;
}
.s4 div .p1 img:nth-of-type(1){
    width: 15px;
    height: 15px;
}
.s4 div .p1 img:nth-of-type(2){
    width: 15px;
    height: 15px;
    margin-left: 4%;
}
.s4 div p:nth-of-type(2){
    top:26%;
    width: 100%;
    left: -15%;
}
.s4 div p:nth-of-type(2) span,
.s4 div p:nth-of-type(8) span,
.s4 div p:nth-of-type(5) span{
color:#fafaff;
}
.s4 div p:nth-of-type(3) span{
    width: 60%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#0d5853,#26f9b2);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#0d5853),to(#26f9b2));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#0d5853,#26f9b2);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#0d5853,#26f9b2); /*Opera11*/
    background: -moz-linear-gradient(left, #0d5853, #26f9b2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d5853), to(#26f9b2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d5853, #26f9b2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d5853, #26f9b2); /*Opera11*/

}
.s4 div p:nth-of-type(3){
    color:#fafaff;
    top: 33%;
    width: 100%;
    right: -4%;
}
.s4 div p:nth-of-type(4){
    color: #fafaff;
    top: 37%;
    width: 100%;
    right: 8%;
}
.s4 div p:nth-of-type(4) span{
    width: 30%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#052d47,#01beff);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#052d47),to(#01beff));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#052d47,#01beff);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#052d47,#01beff); /*Opera11*/
    background: -moz-linear-gradient(left, #052d47, #01beff); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#052d47), to(#01beff)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #052d47, #01beff); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #052d47, #01beff); /*Opera11*/

}
.s4 div p:nth-of-type(5){
    top: 46%;
    width: 100%;
    left: -16%;
}
.s4 div p:nth-of-type(6) span{
    width: 40%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#0d5853,#26f9b2);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#0d5853),to(#26f9b2));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#0d5853,#26f9b2);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#0d5853,#26f9b2); /*Opera11*/
    background: -moz-linear-gradient(left, #0d5853, #26f9b2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d5853), to(#26f9b2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d5853, #26f9b2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d5853, #26f9b2); /*Opera11*/

}
.s4 div p:nth-of-type(6){
    color:#fafaff;
    top: 53%;
    width: 100%;
    right: 5%;
}
.s4 div p:nth-of-type(7){
    color: #fafaff;
    top: 57%;
    width: 100%;
    right: 10%;
}
.s4 div p:nth-of-type(7) span{
    width: 30%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#052d47,#01beff);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#052d47),to(#01beff));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#052d47,#01beff);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#052d47,#01beff); /*Opera11*/
    background: -moz-linear-gradient(left, #052d47, #01beff); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#052d47), to(#01beff)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #052d47, #01beff); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #052d47, #01beff); /*Opera11*/

}
.s4 div p:nth-of-type(8){
    top:66%;
    width: 100%;
    left: -18%;
}
.s4 div p:nth-of-type(9) span{
    width: 60%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#0d5853,#26f9b2);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#0d5853),to(#26f9b2));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#0d5853,#26f9b2);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#0d5853,#26f9b2); /*Opera11*/
    background: -moz-linear-gradient(left, #0d5853, #26f9b2); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#0d5853), to(#26f9b2)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #0d5853, #26f9b2); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #0d5853, #26f9b2); /*Opera11*/

}
.s4 div p:nth-of-type(9){
    color:#fafaff;
    top: 73%;
    width: 42%;
    right: 45%;
}
.s4 div p:nth-of-type(10){
    color: #fafaff;
    top: 77%;
    width: 100%;
    right: 25%;
}
.s4 div p:nth-of-type(10) span{
    width: 10%;
    height: 14px;
    display: inline-block;
    background-size: contain;
    background:-moz-linear-gradient(left,#052d47,#01beff);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#052d47),to(#01beff));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#052d47,#01beff);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#052d47,#01beff); /*Opera11*/
    background: -moz-linear-gradient(left, #052d47, #01beff); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#052d47), to(#01beff)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #052d47, #01beff); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #052d47, #01beff); /*Opera11*/

}
.s4 div p:nth-of-type(11){
    font-size: 1px;
    top:86%;
    right: 0;
    width: 100%;
    background-size: contain;
}
.s5{
    color: #00ffcc;
    position: relative;
    font-weight: bold;
}
.s5 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s5 h2::before,
.s5 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s5 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s5 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s5 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}
.s5 .class1 img:nth-of-type(1){
    position: absolute;
    top: 25%;
    left: 10%;
    width: 35%;
    height: 27%;
}
.s5 .class2 img:nth-of-type(1){
    position: absolute;
    top: 25%;
    right: 10%;
    width: 35%;
    height: 27%;
}
.s5 .class3 img:nth-of-type(1){
    position: absolute;
    top: 55%;
    left: 10%;
    width: 35%;
    height: 27%;
}
.s5 .class4 img:nth-of-type(1){
    position: absolute;
    top: 55%;
    right: 10%;
    width: 35%;
    height: 27%;
}
.s5 .class1 img:nth-of-type(2),
.s5 .class2 img:nth-of-type(2),
.s5 .class3 img:nth-of-type(2),
.s5 .class4 img:nth-of-type(2){
    width: 25%;
}

.s5 .class1 img:nth-of-type(2){
    position: absolute;
    top: 27%;
    left: 15%;
}
.s5 .class1 p:nth-of-type(1){
    position: absolute;
    top: 42%;
    left: 12%;
}

.s5 .class2 img:nth-of-type(2){
    position: absolute;
    top: 27%;
    right: 15%;
}
.s5 .class2 p:nth-of-type(1){
    position: absolute;
    top: 42%;
    right: 12%;
}

.s5 .class3 img:nth-of-type(2){
    position: absolute;
    top: 57%;
    left: 15%;
}
.s5 .class3 p:nth-of-type(1){
    position: absolute;
    top: 72%;
    left: 12%;
}

.s5 .class4 img:nth-of-type(2){
    position: absolute;
    top: 57%;
    right: 15%;
}
.s5 .class4 p:nth-of-type(1){
    position: absolute;
    top: 72%;
    right: 12%;
}
.s5 .class1 p:nth-of-type(2){
    position: absolute;
    color:#000;
    top: 46%;
    left: 17%;
    background: url("../img/9.png");
    width: 90px;
    height: 21px;
    border-radius: 10px;
    background-size: contain;
}
.s5 .class2 p:nth-of-type(2){
    position: absolute;
    color:#000;
    top: 46%;
    right: 18%;
    background: url("../img/9.png");
    width: 90px;
    height: 21px;
    border-radius: 10px;
    background-size: contain;
}
.s5 .class3 p:nth-of-type(2){
    position: absolute;
    color:#000;
    top: 76%;
    left: 17%;
    background: url("../img/9.png");
    width: 90px;
    height: 21px;
    border-radius: 10px;
    background-size: contain;
}
.s5 .class4 p:nth-of-type(2){
    position: absolute;
    color:#000;
    top: 76%;
    right: 17%;
    background: url("../img/9.png");
    width: 90px;
    height: 21px;
    border-radius: 10px;
    background-size: contain;
}
.s6{
    color: #00ffcc;
    position: relative;
    font-weight: bold;
}
.s6 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s6 h2::before,
.s6 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s6 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s6 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s6 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}
.s6 .dv{
    position: absolute;
    top:28%;
    left: 5%;
}
.s6 .div1{
    position: absolute;
    width: 80%;
    height: 20%;
    top:27%;
    left: 15%;
}
.s6 .div1 .p1,
.s6 .div2 .p1,
.s6 .div3 .p1{
    color:#000;
    border-radius: 16px 0 0 0 ;
    width: 67%;
    height: 27px;
    margin-bottom: 5%;
    background:-moz-linear-gradient(left,#00fd9d,#05061b);/*Mozilla*/
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#00fd9d),to(#05061b));/*Old gradient for webkit*/
    background:-webkit-linear-gradient(left,#00fd9d,#05061b);/*new gradient for Webkit*/
    background:-o-linear-gradient(left,#00fd9d,#05061b); /*Opera11*/
    background: -moz-linear-gradient(left, #00fd9d, #05061b); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00fd9d), to(#05061b)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00fd9d, #05061b); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00fd9d, #05061b); /*Opera11*/
}
.s6 .div1 .p2,
.s6 .div2 .p2,
.s6 .div3 .p2{
    background: -webkit-radial-gradient(rgba(225, 0, 0, 0), rgba(5, 97, 120, 0.8));
    width: 100%;
    height: 80px;
    border-radius: 6px;
    display: block;
    position: absolute;
}
.s6 .div1 .p2 p,
.s6 .div2 .p2 p,
.s6 .div3 .p2 p{
    font-size: 2%;
}
.s6 .div2{
    position: absolute;
    top:47%;
    left: 15%;
    width: 80%;
    height: 20%;
}
.s6 .div3{
    position: absolute;
    top:67%;
    left: 15%;
    width: 80%;
    height: 20%;
}
.s7{
    color: #00ffcc;
    position: relative;
    font-weight: bold;
}
.s7 h2{
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s7 h2::before,
.s7 h2::after{
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s7 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}
.s7 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top:0;
}
.s7 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing:7px;
}

.s7 div img{
    width: 80%;
    position: absolute;
    top: 30%;
    left:10%;
}
.s7 div input{
     position: absolute;
     width: 50%;
     height: 7%;
 }
.s7 div input:nth-of-type(1){
    left: 25%;
    top: 35%;
}
.s7 div input:nth-of-type(2){
    left: 25%;
    top: 43%;
}
.s7 div input:nth-of-type(3){
    left: 25%;
    top: 51%;
}
.s7 div input:nth-of-type(4){
    left: 25%;
    top: 60%;
    background: green;
    font-weight: bold;
}
.s7 div p:nth-of-type(1){
    position: absolute;
    bottom: 16%;
    font-size: 2%;
    left: 26%;
}
.s7 div p:nth-of-type(2){
    position: absolute;
    bottom: 14%;
    font-size: 2%;
    left: 38%;
}

